.proyect-tab{
    min-width: 50vw;
}

.proyects-text {
    padding: 5rem;
}

.linkHero{
    text-decoration: none;
    border-radius: 15px;
    background-color: var(--dustPink);
    padding: 10px 18px 10px 18px;
    margin: 25px;
    color: black;
}
.linkHero:hover{
    color: black;
    background-color: var(--dustBlue);
}

.fproyect-intro{
    border-bottom: 2px solid var(--green);
    margin-bottom: 15px;

}
.content-p{
    display: flex;
    justify-content: start;
}
    