.log-user{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 45px;
}

.highlighter{
    width: 7rem;
    position: absolute;
    margin-right: 45rem;
    margin-top: 1rem;
}

.labelForm{
    text-align: start;
}

.form-user-box{
    border: none;
    border-bottom: solid 2px #dee2e6;
    padding: 2px 25px 2px 25px;
    text-align: start;
    font-style: italic;
}

.form-user{
    min-width: 35vw;
}

.linkHero{
    text-decoration: none;
    border-radius: 15px;
    background-color: var(--dustPink);
    padding: 10px 18px 10px 18px;
    margin: 25px;
    color: black;
    border: none;
}
.linkHero:hover{
    color: black;
    background-color: var(--dustBlue);
}